<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All provider updates
    </h1>

    <a href="/provider_updates/new" class="btn btn-block btn-outline-secondary">
      Add a new provider update
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "provider_update_templates/provider_updates_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Breakfast
        </th>

        <th>
          Lunch
        </th>

        <th>
          Snacks
        </th>

        <th>
          Activities
        </th>

        <th>
          User
        </th>

        <th>
          Date
        </th>

        <th>
          Reminders
        </th>

        <th>
          Venue
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @provider_updates.each do |provider_update| %>
      <tr>
        <td>
          <%= provider_update.id %>
        </td>

        <td>
          <%= provider_update.breakfast %>
        </td>

        <td>
          <%= provider_update.lunch %>
        </td>

        <td>
          <%= provider_update.snacks %>
        </td>

        <td>
          <%= provider_update.activities %>
        </td>

        <td>
          <% if provider_update.user.present? %>
            <a href="/users/<%= provider_update.user.id %>">
              <%= provider_update.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= provider_update.date %>
        </td>

        <td>
          <%= provider_update.reminders %>
        </td>

        <td>
          <% if provider_update.venue.present? %>
            <a href="/venues/<%= provider_update.venue.id %>">
              <%= provider_update.venue.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(provider_update.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(provider_update.updated_at) %> ago
        </td>

        <td>
          <a href="/provider_updates/<%= provider_update.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @provider_updates, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
