<!-- Validation failure messages -->
<% if @photo.errors.any? %>
  <% @photo.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit photo #<%= @photo.id %>
</h1>

<hr>

<!-- Form photo start -->
<form action="/update_photo/<%= @photo.id %>" method="post">
<!-- Form photo end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @photo.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <!-- Input for date start -->
    <input type="text" id="date" name="date" class="form-control" value="<%= @photo.date %>">
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for caption start -->
  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <!-- Input for caption start -->
    <input type="text" id="caption" name="caption" class="form-control" value="<%= @photo.caption %>">
    <!-- Input for caption end -->
  </div>
  <!-- Label and input for caption end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <!-- Input for venue_id start -->
    <input type="text" id="venue_id" name="venue_id" class="form-control" value="<%= @photo.venue_id %>">
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <!-- Label and input for photo_location start -->
  <div class="form-group">
    <label for="photo_location">
      Photo location
    </label>

    <!-- Input for photo_location start -->
    <input type="text" id="photo_location" name="photo_location" class="form-control" value="<%= @photo.photo_location %>">
    <!-- Input for photo_location end -->
  </div>
  <!-- Label and input for photo_location end -->

  <button class="btn btn-block btn-outline-secondary">
    Update photo
  </button>
</form>

<hr>

<a href="/photos">
  Go back
</a>
