<% if @parent_comment.errors.any? %>
  <% @parent_comment.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit parent comment #<%= @parent_comment.id %>
</h1>

<hr>

<form action="/update_parent_comment/<%= @parent_comment.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @parent_comment.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @parent_comment.body %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update parent comment
  </button>
</form>

<hr>

<a href="/parent_comments">
  Go back
</a>
