<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Parent comment #<%= @parent_comment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/parent_comments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/parent_comments/<%= @parent_comment.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit parent comment
        </a>
      </div>

      <div class="col">
        <a href="/delete_parent_comment/<%= @parent_comment.id %>" class="btn btn-block btn-outline-secondary">
          Delete parent comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @parent_comment.user.present? %>
          <a href="/users/<%= @parent_comment.user_id %>">
            <%= @parent_comment.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @parent_comment.body %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@parent_comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@parent_comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

